@font-face {
    font-family: "Vin";
    src: url(/Wasted-Vindey.ttf) format("truetype");
}

@font-face {
    font-family: "Helvetica";
    src: url(/HelveticaNowDisplay-Regular.woff2) format("woff2");
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Vin", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

#main #card{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 250px;
    width: 200px;
    background-color: #fff;
    box-shadow: 10px 20px 40px #585858;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    padding: 10px;
    border: none;
    border-radius: 50%;
}

#card h4{
    font-size: 18px;
    font-weight: 600;
}

#card p{
    font-size: 13px;
    font-weight: 400;
}

#card button{
    margin-top: 10px;
    padding: 10px 30px;
    background-color: rgb(20, 153, 255);
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
}

#card button:hover{
    background-color: #fff;
    border: 2px solid rgb(20, 153, 255);
    color: rgb(20, 153, 255);
}